.modal-overlay {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left:0px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-box {
    display: block;
    background: white;
    width: 50%;
    height: 40%;
    padding: 1rem;
    border-radius: 1rem;
  }

  @media only screen and (max-width: 600px) {
    .modal-box {
        display: block;
        background: white;
        width: 80%;
        height: 40%;
        padding: 1rem;
        border-radius: 1rem;
    }
  }
  